#videoElement {
    border-radius: 20px;
  }
  #canvasElement {
    display: none;
  }
  .demo-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button-group {
    margin-bottom: 20px;
  }